// 字體顏色
$txt_color: (
    primary: #fff,
    secondary: #3b1616,
    gray: #171614,
    brown: #3A2618,
    beige: #9A8873,
    shadow: hsla(354, 29%, 7%, 0.5),
);

// 背景色
$bg_color: (
    primary: #3b1616,
    secondary: #171614,
    brown: #3A2618,
    beige: #9A8873,
    white: #fff,
    yellow: #e6b800,
    shadow: rgba(0, 0, 0, .25),
);

// 按鈕色
$btn_color: (
    primary: #5f794c,
);

// 顏色class
@each $name, $value in $txt_color {
    .txt_#{$name} {
        color: $value !important;
    }
}
@each $name, $value in $bg_color {
    .bg_#{$name} {
        background: $value !important;
    }
}